/*
arte y cultura
ciencia y tecnologia
deportes
economía y finanzas
educación
empresas y negocios
entretenimientos
gobierno y sociedad
información general
informática e internet
*/ 
/* 
    Created on : 21-may-2016, 3:24:59
    Author     : Sergio
*/

/* Contenedor Principal*/
.contenedor{
    border: 1px solid black;
    padding:  0.2%;
    background-color: #CCC;
    margin-top: 1%;
    margin-bottom:  1%;
}

/* Zona Usuario */
#zonaLoginCon{
    width: 100%;
    height: 20%;
    background-color: #dedede;
    //  margin: 0;
    padding: 0;
    padding-right: 4.5%;
}
#zonaLoginDesc{
    width: 100%;
    height: 20%;
    background-color: yellow;
}
.campos{
    width: 100%;
    text-align: center;
}
input[type="text"],input[type="password"]{
    letter-spacing: 2px;
}
#mainMenu{
    background-color: red;
}
.divFoto{
    border: #cccccc 1px solid;
    background-color: white;
    padding-bottom: 1.5%;
}
.divFoto img{
    width:100%;
    height:100%;
}
.col-md-5{
    padding-left: 0%;
    padding-right: 0%;
}
.fotoPerfil{
    width: 100%;
    height: 100%;
    padding: 0% 0%;
   /* width: 90%;
    height: 90%;
    padding: 5% 5%;*/
   /*  border-radius: 100%; */
}

/* Botones Menú */
.boton{
    border: 1px solid grey;
    list-style: none;
    padding: 0.5%;
    /*width: 25%;*/
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;

}
.boton:hover{
    opacity: 0.9;
    background-color: pink;
}
.boton:hover a{
    color: red;
}
.boton a{
    color: white;
}
.boton a:hover{
    text-decoration: none;
}
.row{
    -webkit-padding-start: 0; 
}
.creadorHilo{
    border: 1px solid #D1D1D1;
    background: #F1F1F1;
}
.hiloUsuario{
    background-color: #dedede;
}
.hiloComentario{
    background: #F1F1F1;
}
.perfilBoton{
    width: 100%;
    margin: 3% 0% 2% 0%;
}
.perfilBoton i{
    float: left;
    width: 20%;
    height: 33%;
    padding-left: 5%;
    padding-top: 3%;
    font-size: 14px;
}
.perfilBoton form{
    float: left;
    width: 80%;
    height: 33%;
}
.perfilBoton input{
    margin-left: 4%;
    width:  100%;
}

/* Estrellas para los Likes */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span {
    display: inline-block;
    position: relative;
    font-size: 100%;
    float: left;
}
.rating > span:first-of-type:hover{
    color: blue;
}
.rating > span:nth-of-type(2):hover{
    color: darkred;
}
.rating > span:nth-of-type(3):hover{
    color: blue;
}
.rating > span:nth-of-type(4):hover{
    color: darkred;
}
.nombreUsuario{
    padding-right: 30px;
    border-bottom:  #cccccc 1px solid;
    margin-left: 2%;
    text-align: center;
}

/*
h1{                         HAY QUE MODIFICAR EL H1 DE BOOTSTRAP
    font-size: 1.8em;
}*/