/*
arte y cultura
ciencia y tecnologia
deportes
economía y finanzas
educación
empresas y negocios
entretenimientos
gobierno y sociedad
información general
informática e internet
*/ 
/* Contenedor Principal*/
.contenedor{
    border: 1px solid grey;
    padding:  0.2%;
    /*  background-color: #CCC; */
    margin-top: 1%;
    margin-bottom: 1%;
    z-index: 10;
    background:#fff;
    -webkit-box-shadow:0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius:4px;
    border-radius:4px;
}

/* Hilo zona creador*/
.posicion{
    width: 100%;
    height: 100%;
    display: block;
    float: left;
}
.col_md-4 .hiloComentario{
    height: 100%;
    display: block;
}
#comentario{
    background-color: #CCC;
    border: 0.5px solid black;
}

/* Zona Usuario */
#zonaLoginCon{
    width: 100%;
    height: 20%;
    background-color: #dedede;
    padding: 0;
    padding-right: 4.5%;
    margin-top: 2%;
    margin-left: 0;
}
#zonaLoginDesc{
    width: 100%;
    height: 20%;
    background-color: yellow;
    margin-top: 2%;
    margin-left: 0;

}
.campos{
    width: 100%;
    text-align: center;
}
input[type="text"],input[type="password"]{
    letter-spacing: 2px;
}
#menu{
    background-color: red;
}
.activo{
    background-color: goldenrod; 
}
.divFoto{
    border: #cccccc 1px solid;
    background-color: white;
    padding-bottom: 1.5%;
}
.divFoto img{
    width:100%;
    height:100%;
}
.col-md-5{
    padding-left: 0%;
    padding-right: 0%;
}
.fotoPerfil{
    width: 100%;
    height: 100%;
    padding: 0% 0%;
}

/* Botones Menú */
.boton{
    border: 1px solid grey;
    list-style: none;
    padding: 0.5%;
    /*width: 25%;*/
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    background-color: red;
}
.boton:hover{
    opacity: 0.9;
    background-color: pink;
}
.boton:hover a{
    color: red;
}
.boton a{
    color: white;
}
.boton a:hover{
    text-decoration: none;
}
.row{
    -webkit-padding-start: 0; 
}
.hiloCelda{
    margin-top: 1%;
    margin-bottom: 1%;
    border-left: 3px solid #ca3415;
    border-right: 3px solid #ca3415;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    background: #F1F1F1;

}
.hiloCeldaCreador{
    margin-top: 1%;
    border-left: 4px solid ROSYBROWN;
    border-right: 4px solid ROSYBROWN;
    border-top: 1px solid KHAKI;
    border-bottom: 1px solid KHAKI; 
}
.creadorHilo{
    border: 1px solid #D1D1D1;
    background: #F1F1F1;
}
.hiloUsuario{
    background-color: #dedede;
}
.hiloComentario:nth-child(2n){
    border-left: 0.5px solid #D1D1D1;
    background-color: #dedede;
}
.perfilBoton{
    width: 100%;
    margin: 3% 0% 2% 0%;
}
.perfilBoton i{
    float: left;
    width: 20%;
    height: 33%;
    padding-left: 5%;
    padding-top: 3%;
    font-size: 14px;
}
.perfilBoton form{
    float: left;
    width: 80%;
    height: 33%;
}
.perfilBoton input{
    margin-left: 4%;
    width:  100%;
}

/* CSS Likes */
.nombreUsuario{
    padding-right: 30px;
    border-bottom:  #cccccc 1px solid;
    margin-left: 2%;
    text-align: center;
}
#likeNegro{
    text-decoration:none; 
    text-align:center; 
    padding:0px 0px; 
    border:none; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:18px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#000000; 
    background-color:#eff1f2; 
    background-image: -moz-linear-gradient(top, #eff1f2 0%, #f7fbfc 100%); 
    background-image: -webkit-linear-gradient(top, #eff1f2 0%, #f7fbfc 100%); 
    background-image: -o-linear-gradient(top, #eff1f2 0%, #f7fbfc 100%); 
    background-image: -ms-linear-gradient(top, #eff1f2 0% ,#f7fbfc 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#f7fbfc',GradientType=0 ); 
    background-image: linear-gradient(top, #eff1f2 0% ,#f7fbfc 100%);   
}

/* Zona Registro */ 
.contenedorRegistro{    
    margin: 2% auto;
    background-color: graytext;
    width: 70%; 
    height: 100%;
    text-align: center;
    /*   margin-left: auto;
       margin-right: auto; */
    color: golden;
    opacity: 0.92;
}
.decoradoRegistro{
      background-image: url(../images/wallhaven-383695.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.fondoCrearHilo{
    background-image: url(../images/wallhaven-383981.jpg);
    background-size: 100%;
}
.campoFormulario:nth-child(2n+1){
    width: 20%;
    /*text-align: center;*/
    text-align: right;
}
.campoFormulario:nth-child(2n){
    width: 78%;
}
.campoFormuarioInput{
    width: 100%;
    margin-top: 1%;
}
#correo, #nombre, #apellidos, #username, #password, #password2, #cumpleanios, #imagen{
    width: 100%;
    margin-bottom: 2%;
}
.titularRegistroForm{
letter-spacing: 3px;
}
.botonRegistro{
    width: 100%;
    height: 20%;
    margin-bottom: 1%;
    line-height: 4;
}
.campoRegistroHilo{
    color: goldenrod;
}


/* Tabla responsiva */
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

.tablaHilos{
    margin: 0 1%;
}

#likeRojo{
    text-decoration:none; 
    text-align:center; 
    padding:0px 0px; 
    border:none; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:18px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#fc0303; 
    background-color:#eff1f2; 
    background-image: -moz-linear-gradient(top, #eff1f2 0%, #f7fbfc 100%); 
    background-image: -webkit-linear-gradient(top, #eff1f2 0%, #f7fbfc 100%); 
    background-image: -o-linear-gradient(top, #eff1f2 0%, #f7fbfc 100%); 
    background-image: -ms-linear-gradient(top, #eff1f2 0% ,#f7fbfc 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#f7fbfc',GradientType=0 ); 
    background-image: linear-gradient(top, #eff1f2 0% ,#f7fbfc 100%);
}

/* CSS de la página de contacto*/
.contact-form {
    width: 846px;
    padding: 15px;
    margin: 1% auto;
    position: relative;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, right bottom, 
        color-stop(5%,  #bfd1E7), color-stop(5%,  #ed5737),
        color-stop(15%, #ed5737), color-stop(15%, #bfd1E7),
        color-stop(25%, #bfd1E7), color-stop(25%, #2f57b7),
        color-stop(35%, #2f57b7), color-stop(35%, #bfd1E7),
        color-stop(45%, #bfd1E7), color-stop(45%, #ed5737),
        color-stop(55%, #ed5737), color-stop(55%, #bfd1E7),
        color-stop(65%, #bfd1E7), color-stop(65%, #2f57b7),
        color-stop(75%, #2f57b7), color-stop(75%, #bfd1E7),
        color-stop(85%, #bfd1E7), color-stop(85%, #ed5737),
        color-stop(95%, #ed5737), color-stop(95%, #bfd1E7));
    background-image: -webkit-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
    background-image:    -moz-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
    background-image:     -ms-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
    background-image:      -o-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
    background-image:         repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
    -pie-background:          linear-gradient(135deg, 
        #bfd1E7 5%,  #ed5737 5%,
        #ed5737 15%, #bfd1E7 15%,
        #bfd1E7 25%, #2f57b7 25%,
        #2f57b7 35%, #bfd1E7 35%,
        #bfd1E7 45%, #ed5737 45%,
        #ed5737 55%, #bfd1E7 55%,
        #bfd1E7 65%, #2f57b7 65%,
        #2f57b7 75%, #bfd1E7 75%,
        #bfd1E7 85%, #ed5737 85%,
        #ed5737 95%, #bfd1E7 95%);
    behavior: url(PIE.htc);
    text-align: left;

}
.formulario {
    overflow: hidden;
    padding: 40px 20px;
    background-color: #fff;
}
.form-input {
    display: block;
    height: 24px;
    padding: 6px 10px;
    margin-bottom: 20px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius:         8px;
    -moz-box-shadow:    inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow:         inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
    background-color: #646464;
    -moz-box-shadow:    inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
    box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
    behavior: url(PIE.htc);
    width: 320px;
    background: #ededed;
    border: 5px solid #dbdbdb;
    color: #999;
    position: relative;
}
textarea.form-input {
    height: 200px;
    overflow: auto;
    width: 380px; 
    position: relative;
}
label {
    color: #444;
    font-size: 15px;
}
label span {
    color: #ff4141;
    font-size: 11px;
}
.form-btn {
    padding: 0 15px;
    height: 30px;
    font: bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border: 1px solid #0d3d6a;
    background-color: #2F57B7;
    clear: both;
    float: right;
}
.form-btn:hover {
    color: #8598C6;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
.form-btn {
    padding: 0 15px;
    height: 30px;
    font: bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border: 1px solid #0d3d6a;
    background-color: #2F57B7;
    clear: both;
    float: right;
}
.form-btn:hover {
    color: #8598C6;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
.column:first-of-type {
    float: left;
    position: relative;
}
.column:last-of-type {
    float: right;
    margin: 0 0 20px 40px;
}
label {
    color: #444;
    font-size: 15px;
}
label span {
    color: #ff4141;
    font-size: 11px;
}

/* CSS footer pie de página*/
#footer_top {
    height: 218px;
    width: 100%;
    margin-top: 3%;
    background: url(../images/footer_top_.gif) no-repeat left top;
}
#footer_middle {
    height: 43px;
    background: url(../images/footer_middle_bg.gif) repeat-x left top;
    min-width: 1040px;
}
#footer_middle_img {
    height: 43px;
    background: url(../images/footer_middle.gif) no-repeat 151px top;
}
#footer_bottom {
    border: none;
    height: 110px;
    padding-top: 70px;
    width: 100%;
    background: #28241c url(../images/footer_bottom.gif) no-repeat left top;
    min-width: 1040px;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
#footer-bottom-table {
    margin: 0 0 0 400px;
}
#footer-nav {
    margin-top: -5px;
}
.footer-distributed{
    margin-top: 0% !important;
}
/* Móviles en vertical --------------------------------------------------------------- */
@media (max-width: 480px) { 
    .fotoPerfil{
        width: 80%;
        height: 10%;
        border: 1px solid green;
        margin: 1%;
    }
}




